@if (showAppShell()) {
  <div class="bg-surface text-on-surface flex min-h-dvh">
    <app-sidebar-menu
      [collapsed]="sidebarCollapsed()"
      [mobileMenuOpen]="mobileMenuOpen()"
      (closed)="closeMobileMenu()"
      (toggleCollapsed)="toggleSidebarCollapsed()"
    />

    <section class="flex min-w-0 flex-1 flex-col">
      <app-topbar (openMobileMenu)="openMobileMenu()" />

      <main class="bg-surface dark:bg-surface-container-low max-h-dvh min-w-0 flex-1 overflow-y-auto p-8">
        <router-outlet />
      </main>
    </section>
  </div>
} @else {
  <router-outlet />
}
